# Ignore all secret environment files anywhere in the repository
**/.env
**/.env.local

# Ignore OS-specific hidden junk files
.DS_Store
Thumbs.db

# Ignore local app containers caches
reading-stack/appdata/

# Ignore massive download pools
data/
