# vpn
VPN_SERVICE_PROVIDER=vpnprovider
VPN_TYPE=vpntype
WIREGUARD_PRIVATE_KEY=wireguardprivatekey
WIREGUARD_ADDRESSES=wireguardaddresses
FIREWALL_OUTBOUND_SUBNETS=firewalloutboundsubnets

# unpackarr
UN_SONARR_0_API_KEY=sonarrapikey
UN_RADARR_0_API_KEY=radarrapikey